/**
 * Rocket Rides CSS stylesheet
 */

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #aab7c5;
}
:-moz-placeholder {
  color: #aab7c5;
  opacity: 1;
}
::-moz-placeholder {
  color: #aab7c5;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #aab7c5;
}

/* General */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100vh;
  color: #292f45;
  background-color: #f6f9fc;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

header,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#top,
.annotation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

header {
  width: 100%;
  background-image: url('/images/header.jpg');
  background-size: cover;
  background-color: black;
  color: #fff;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.arrow {
  padding-right: 20px;
  background-image: url(/images/arrow-white.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

#content {
  max-width: 800px;
  width: 100%;
  flex: 1;
  margin-bottom: 150px;
}

#content.dashboard {
  margin-bottom: 250px;
}

/* Header, top bar, navigation */
#top {
  height: 64px;
  line-height: 64px;
  font-size: 17px;
  font-family: 'Barlow';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#top .logo {
  flex: 1;
}
#top a.rocketrides {
  display: inline-block;
  min-width: 215px;
  height: 20px;
  padding-left: 75px;
  background: url(/images/rocketrides.svg) left center no-repeat;
}

#top .links a {
  margin-left: 30px;
  font-size: 18px;
}

header .button.primary {
  width: 200px;
}

h1.title {
  font-family: 'Barlow';
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

h1.title.short-form {
  margin-bottom: 0;
}

/* Banners */
.banner {
  background: #15b67c;
  color: white;
  width: 100%;
  min-height: 44px;
  line-height: 44px;
}
.message {
  max-width: 800px;
  margin: 0 auto;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.annotation {
  background: #fff;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  max-width: 800px;
  margin: 25px auto;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.annotation h4 {
  color: #525f7f;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
}

.annotation ol {
  font-weight: 400;
  font-size: 14px;
  color: #525f7f;
  margin-left: 16px;
}

.annotation p {
  font-size: 15px;
  font-weight: 400;
  color: #6a7c94;
}

.annotation.info strong {
  display: block;
}

.annotation a {
  font-weight: 400;
  color: #666ee8;
}

.annotation a.github {
  background-image: url(/images/arrow-purple.svg);
}

.annotation a.stripe {
  flex: 0 0 53px;
  margin-right: 10px;
  background: url(/images/stripe.svg) center center no-repeat;
  text-indent: -9999px;
}

.annotation.card {
  position: absolute;
  left: 25px;
  bottom: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  max-width: 500px;
  animation: slide-in-vertical 0.4s cubic-bezier(0.23, 1, 0.32, 1) both 0.2s;
}

.annotation.card p {
  color: #51586d;
  font-size: 14px;
}

.annotation.card p + p {
  margin-top: 10px;
}

.annotation.card form {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
}

.annotation.card form.right {
  text-align: right;
}

.annotation.card input[type='submit'],
.annotation.card button {
  margin: 0;
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
.annotation.card input[type='submit'].primary-action,
.annotation.card button.primary-action {
  background: #556cd6;
  color: #fff;
}

.annotation.card.hidden {
  display: none;
}

.annotation a.show-more {
  display: none;
  text-decoration: none;
}

.annotation a.show-more.expanded {
  display: none;
}

/* Forms */
.form {
  width: 540px;
  margin: 15px auto;
}

.form.login, .form.signup {
  min-height: 225px;
}

.signup-form section {
  padding: 30px 10px;
}

.form h2 {
  margin: 30px 0 15px;
  font-size: 19px;
  font-weight: 500;
  color: #32315e;
  text-align: center;
}

.form p {
  margin: 0 0 30px;
  font-size: 17px;
  color: #525f7f;
  line-height: 1.5;
  text-align: center;
}

.form p.error {
  color: #fc7455;
}

.form h4 {
  margin: 15px 0;
  color: #8798ab;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}


.form input[type='submit'],
.form button,
.form a.button {
  text-align: center;
}

.form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
  font-size: 13px;
  color: #8798ab;
  padding: 0 30px;
}

.options label {
  padding: 0 40px;
}

.options strong {
  display: inline-block;
  margin-left: 5px;
}

.options span {
  display: block;
  margin-left: 20px;
}

form {
  position: relative;
  width: 100%;
  font-size: 15px;
}

form aside {
  margin: -30px auto 0;
  line-height: 1.3em;
  font-size: 13px;
  text-align: right;
  color: #8798ab;
}

fieldset {
  position: relative;
  min-width: 0;
  margin-bottom: 40px;
  border-style: none;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

fieldset .row {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  padding: 12px 20px 13px;
}

fieldset .row:not(.hidden) ~ .row {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

fieldset .row::before {
  content: attr(label);
  width: 130px;
  padding-right: 20px;
  color: #8798ab;
  font-weight: 500;
  text-align: right;
}

fieldset .row.select::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  right: 20px;
  top: 50%;
  margin-top: -2px;
  background-image: url(/images/dropdown.svg);
  pointer-events: none;
}

fieldset .row input {
  flex: 1;
  border-style: none;
  font-size: 15px;
  outline: none;
  color: #313b3f;
}

fieldset .row select {
  flex: 1;
  padding-right: 25px;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
  font-size: 15px;
  outline: none;
  color: #313b3f;
  cursor: pointer;
  background: transparent;
}

fieldset .row select:focus {
  color: #00b67c;
}

fieldset .row.date span {
  padding-right: 10px;
  color: #aab7c5;
  font-weight: 500;
}

fieldset .row.date input {
  flex: 0;
  min-width: 35px;
}

fieldset .row.date input:last-child {
  flex: 1;
}

input[type='submit'],
button,
a.button {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 8px 20px;
  border-style: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 500;
  color: #51586d;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

input[type='submit']:hover,
button:hover,
a.button:hover {
  color: #2a2f45;
  text-decoration: none;
  outline: 0;
}

input[type='submit']:active,
button:active,
a.button:active {
  outline: 0;
}

.button.primary,
button.primary,
input[type='submit'].primary {
  font-family: 'Barlow';
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #15b67c;
  color: white;
  height: 44px;
  margin: 30px 0 0 0;
  padding: 0 22px;
  line-height: 44px;
}

.button.primary:hover,
button.primary:hover,
input[type='submit'].primary:hover {
  color: white;
}

button.primary:disabled,
.button.primary:disabled,
input[type='submit'].primary:disabled {
  background: #e6ebf1;
  color: #aab7c4;
  cursor: default;
}

input[type='submit'].secondary {
  color: #313b3f;
  background: #fff;
}

input[type='submit'].secondary:active {
  background: #f5f6f7;
}

button:hover,
a.button:hover {
  text-decoration: none;
}

header button,
header a.button,
header input[type='submit'] {
  margin: 15px 0 0;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

form a.button {
  text-align: center;
}

/* Stripe information */
.stripe-information {
  margin-bottom: 35px;
  border: 2px solid #e6ebf1;
  border-radius: 5px;
  padding: 20px 135px 20px 25px;
  background: url(/images/stripe-grey.svg) right 25px center no-repeat;
  background-size: 80px auto;
}

.stripe-information p {
  color: #525f7f;
  font-size: 14px;
  text-align: left;
  margin: 0;
}

/* Illustration */
.illustration,
.illustration .rocket {
  width: 170px;
  height: 170px;
}

.illustration {
  background: #fff;
  border-radius: 85px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.illustration .rocket {
  background: url(/images/rocketrides-illustration.svg) center center no-repeat;
  background-size: 120px 120px;
  transform: rotate(5deg);
}

.illustration.not-found {
  margin: 50px auto;
}

.illustration.not-found .rocket {
  transform: rotate(120deg);
}

/* Home */
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 60px 0 80px;
}

.intro .pilots {
  flex-direction: column;
}

.intro h1 {
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 42px;
  line-height: 45px;
  letter-spacing: 0.01em;
}

.intro h2 {
  color: #cfd7df;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.features {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.features section {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 90px 0 0;
  margin: 25px 40px 0 0;
  background-position: 0 20px;
  background-repeat: no-repeat;
}

.features section.schedule {
  background-image: url(/images/feature-schedule.svg);
}

.features section.earnings {
  background-image: url(/images/feature-earnings.svg);
}

.features section.app {
  background-image: url(/images/feature-app.svg);
}

.features section:last-child {
  margin-right: 0;
}

.features h3 {
  font-family: 'Barlow';
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 500;
  color: #32315e;
  letter-spacing: 0.01em;
}

.features p {
  font-size: 16px;
  line-height: 24px;
  color: #525f7f;
}

/* User information */
.user {
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 40px 0;
}

.user .block {
  position: relative;
  color: #292f45;
}

.user .block + .block {
  margin-left: 40px;
}

.user .block h1 {
  font-size: 24px;
  font-weight: 400;
}

.user .block h2 {
  color: #8898aa;
  font-size: 13px;
  font-weight: 500;
  margin-top: 8px;
}

.user .block p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 7px;
  color: #292f45;
}

.user .block a {
  color: #219f72;
}

.user .block.profile {
  flex: 1;
  padding-left: 65px;
}

.user .block.profile .photo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 36%;
  left: 0;
  margin-top: -25px;
  border-radius: 50%;
  background-image: url(/images/avatar-large.svg);
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.user .block.stripe input[type='submit'] {
  font-size: 16px;
  font-weight: 500;
  text-transform: unset;
  letter-spacing: 0;
  height: 43px;
  margin: 30px 0 0 0;
  margin: 2px 0 14px;
  min-width: 150px;
  text-align: center;
}

.user .block.stripe p {
  text-align: center;
}

/* Pilot onboarding options */
.pilot-options {
  margin: 0 0 35px;
}

.form label.pilot-option {
  width: auto;
  padding: 0;
  cursor: pointer;
  text-align: left;
  margin: 17px 0;
}

.pilot-option input {
  display: none;
  height: 0;
  width: 0;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}

.pilot-option input + span {
  display: flex;
  position: relative;
  align-items: center;
  color: #525f7f;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.pilot-option input + span:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  left: -10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.pilot-option input:checked + span:after {
  content: '';
  display: flex;
  position: absolute;
  top: 5px;
  right: calc(100% - 15px);
  width: 10px;
  height: 10px;
  background: #15b67c;
  border-radius: 10px;
}

.row.pilot-info.hidden {
  display: none;
}

/* Ride history */
.rides {
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
}

.rides h4 {
  margin-bottom: 14px;
  color: #292f45;
  font-weight: 500;
}

.rides .no-rides {
  width: 100%;
  min-height: 250px;
  background: #edf3f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rides .no-rides .rocket {
  width: 52px;
  height: 52px;
  background-image: url(/images/rocket.svg);
}
.rides .no-rides h1 {
  color: #525f7f;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rides .no-rides h2 {
  color: #8898aa;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.rides .list {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.rides .list .row {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.rides .list .row + .row {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.rides .list .cell {
  flex: 1;
  position: relative;
  padding: 15px 20px;
  color: #82909b;
  font-size: 15px;
}

.rides .list .cell.name {
  flex: 2;
  padding-left: 60px;
  color: #313b3f;
  font-weight: 500;
}

.rides .list .cell.name::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 50%;
  margin-top: -12px;
  border-radius: 50%;
  background-image: url(/images/avatar-small.svg);
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.rides .list .cell.date {
  flex: 1.5;
}

.rides .list .cell.price {
  flex: 1;
  font-weight: 500;
  text-align: right;
}

/* Media queries */
@media screen and (max-width: 500px) {
  /* Intro section */
  #top {
    font-size: 15px;
    padding: 15px;
    height: auto;
    flex-flow: row wrap;
    line-height: inherit;
    align-items: flex-end;
  }

  #top .logo {
    margin: 0;
  }

  #top .logo a.mark {
    min-width: 35px;
    width: 35px;
    padding-left: 35px;
  }

  #top .links {
    margin: 0;
  }

  #top .links a:first-child {
    margin-left: 0;
  }

  h1 {
    font-size: 28px;
  }

  h1.title {
    margin-top: 0;
  }

  .intro {
    padding: 10px 20px 35px 20px;
    background: none;
  }

  .intro .illustration {
    display: none;
  }

  .intro h1 {
    font-size: 34px;
  }

  .intro h2 {
    font-size: 20px;
  }

  .title {
    margin: 25px 15px;
  }

  footer {
    padding: 10px;
  }

  #content {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
  }

  /* Landing page */
  .features {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .features h3 {
    font-size: 17px;
  }

  .features section {
    margin: 0 0 30px;
    background-position: 0 top;
    padding: 0 0 0 60px;
    background-size: 40px auto;
  }

  /* Forms */
  form {
    margin-top: 0;
  }

  form.payout {
    margin-top: 35px;
  }

  fieldset .row {
    padding: 12px 5px 13px;
  }

  fieldset .row::before {
    width: 110px;
  }

  .form.login, fieldset .row::before,
  .form.account fieldset .row::before {
    width: 80px;
  }

  .form.profile fieldset .row::before {
    width: 100px;
  }

  .form {
    width: 100%;
    margin: 15px 0;
  }

  .form label {
    padding: 0;
  }

  .form .checkmark {
    width: 66px;
    height: 66px;
    background-size: 44px 30px;
  }

  .options span {
    display: none;
  }

  .form.login, .form.account {
    min-height: 210px;
  }

  .stripe-information {
    background: none;
    padding: 20px;
  }
  /* Annotation */
  .annotation, .annotation.card {
    position: absolute;
    max-width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 17px 15px;
    border-radius: 0;
    box-shadow: 0 13px 27px 2px rgba(50, 50, 93, 0.2), 0 8px 16px 7px rgba(0, 0, 0, 0.15);
  }

  .annotation.intro {
    margin: 10px auto;
  }

  .annotation.landing {
    flex-flow: row wrap;
  }

  .annotation.landing p {
    order: 1;
    margin-top: 10px;
  }

  .annotation.info {
    display: none;
  }

  .annotation a.show-more {
    display:inline;
  }

  .annotation.card h4 {
    margin-bottom: 0;
  }

  .annotation.card .description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

  .annotation.card .description.expanded {
    max-height: 500px;
    margin-top: 10px;
  }

  .annotation.card ol {
    margin-left: 0;
    padding-left: 20px;
  }

  .annotation.card input[type='submit']:first-child {
    margin-bottom: 5px;
  }

  .annotation.card input[type='submit'],
  .annotation.card button {
    padding: 8px 14px;
  }

  /* Dashboard */
  .banner {
    line-height: 24px;
    padding: 11px 20px;
  }

  .banner .secondary-text {
    display: none;
  }

  #content .dashboard {
    padding-bottom: 120px;
  }

  .rides {
    margin: 0 0 15px;
  }

  .user {
    flex-flow: row wrap;
    padding-top: 0;
    padding-bottom: 35px;
  }

  .user .block.profile {
    padding: 0;
    flex-basis: 100%;
    margin-bottom: 25px;
  }

  .user .block .photo {
    display: none;
  }

  .user .block {
    flex: 1;
    min-width: 50px;
    margin: 0 0 20px;
  }

  .user .block h1 {
    font-size: 26px;
  }

  .user .block h2 {
    font-size: 15px;
  }

  .user .block p {
    font-size: 15px;
  }

  .user .block.stripe {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .user .block.stripe input[type='submit'] {
    margin: 10px 0;
  }

  .user .block + .block {
    margin: 0;
  }

  .rides .list .cell.name {
    flex: 1;
    padding-right: 5px;
    padding-left: 15px;
  }

  .rides .list .cell.name::before {
    display: none;
  }

  .rides .list .cell.date {
    padding: 10px 5px;
  }

  .rides .list .cell.price {
    flex: 0.6;
    padding-left: 5px;
  }
}

/* CSS Animations */
@keyframes slide-in-horizontal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: none;
  }
}

@keyframes slide-in-vertical {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
