/**
 * Rocket Rides CSS Stylesheet.
 */

 * {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

::-webkit-input-placeholder { color: #AAB7C5; }
:-moz-placeholder { color: #AAB7C5; opacity: 1; }
::-moz-placeholder { color: #AAB7C5; opacity: 1; }
:-ms-input-placeholder { color: #AAB7C5; }


/* General */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100vh;
  color: #292F45;
  background-color: #F6F9FC;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

header,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#top,
.annotation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

header {
  width: 100%;
  background-image: url("/images/header.jpg");
  background-size: cover;
  background-color: black;
  color: #fff;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.arrow {
  padding-right: 20px;
  background-image: url(/images/arrow-white.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

#content {
  max-width: 800px;
  width: 100%;
  flex: 1;
  margin-bottom: 150px;
}

#content.dashboard {
  margin-bottom: 250px;
}

/* Header, Top Bar, Navigation */

#top {
  height: 64px;
  line-height: 64px;
  font-size: 17px;
  font-family: 'Barlow';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#top .logo {
  flex: 1;
}
#top a.rocketrides {
  display: inline-block;
  min-width: 215px;
  height: 20px;
  padding-left: 75px;
  background: url(/images/rocketrides.svg) left center no-repeat;
}

#top .links a {
  margin-left: 30px;
}

header .button.primary {
  width: 200px;
}

h1.title {
  font-family: 'Barlow';
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

nav {
  width: 100%;
  height: 50px;
  background: #29a77a;
}

nav ul,
nav ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: 12px 20px;
  font-size: 16px;
  line-height: 26px;
}

nav li.active {
  font-weight: bold;
}

nav ol {
  counter-reset: steps;
}

nav ol li::before {
  content: counter(steps);
  counter-increment: steps;
  display: inline-table;
  margin-right: 10px;
  background: #29a77a;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  width: 26px;
  height: 26px;
  border-radius: 13px;
}

nav ol li.done::before {
  content: url(/images/checkmark-white.svg);
}

nav ol li.active::before {
  background: #FFF;
  color: #01966F;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.annotation-wrapper {
  align-self: center;
  flex-basis: 1095px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.annotation {
  background: #FFF;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.30);
  border-radius: 4px;
  max-width: 800px;
  margin: 25px auto ;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.annotation h4 {
  color: #525F7F;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
}

.annotation ul {
  font-weight: 400;
  font-size: 14px;
  color: #525F7F;
  margin-left: 16px;
}

.annotation.simulate {
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 20px 20px;
  max-width: 500px;
}

/* TODO delete later the following four rules*/
.annotation.simulate .form {
  width: 100%;
  margin-bottom: 0;
}
.annotation.simulate input[type=submit] {
  margin: 0;
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
.annotation.simulate input[type=submit].primary-action {
  background: #556cd6;
  color: #fff;
}
.annotation.simulate p {
  color: #51586D;
  font-size: 14px;
}
/* END TODO delete*/
/* 
.annotation.info {
  background: #FFF url(/images/info.svg) 10px 10px no-repeat;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 1s;
} */

.annotation p {
  font-size: 15px;
  font-weight: 400;
  color: #6A7C94;
}
/* 
.annotation.info p {
  padding-left: 20px;
} */

.annotation.info strong {
  display: block;
}

.annotation a {
  font-weight: 400;
  color: #666EE8;
}

.annotation a.github {
  background-image: url(/images/arrow-purple.svg);
}

.annotation a.stripe {
  flex: 0 0 53px;
  margin-right: 10px;
  background: url(/images/stripe.svg) center center no-repeat;
  text-indent: -9999px;
}

/* Forms */

.form {
  width: 540px;
  margin: 15px auto;
}

.account {
  min-height: 225px;
}

.form section {
  padding: 30px 10px;
}

.form h2 {
  margin: 30px 0 15px;
  font-size: 19px;
  font-weight: 500;
  color: #32315E;
  text-align: center;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.55s;
}

.form p {
  margin: 0 0 30px;
  font-size: 17px;
  color: #525f7f;
  line-height: 1.5;
  text-align: center;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.6s;
}

.form p.error {
  color: #FC7455;
}

.form h4 {
  margin: 15px 0;
  color: #8798AB;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.5s;
}

fieldset {
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.55s;
}

.form input[type="submit"],
.form button,
.form a.button {
  text-align: center;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.6s;
}

.form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
  font-size: 13px;
  color: #8798AB;
  padding: 0 30px;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.65s;
}

.options label {
  padding: 0 40px;
}

.options strong {
  display: inline-block;
  margin-left: 5px;
}

.options span {
  display: block;
  margin-left: 20px;
}

form {
  position: relative;
  width: 100%;
  font-size: 15px;
}

form aside {
  margin: -30px auto 0;
  line-height: 1.3em;
  font-size: 13px;
  text-align: right;
  color: #8798AB;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.65s;
}

fieldset {
  position: relative;
  min-width: 0;
  margin-bottom: 40px;
  border-style: none;
  background-color: #FFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

fieldset .row {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  padding: 12px 20px 13px;
}

fieldset .row:not(.hidden) ~ .row {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

fieldset .row::before {
  content: attr(label);
  width: 130px;
  padding-right: 20px;
  color: #8798AB;
  font-weight: 500;
  text-align: right;
}

fieldset .row.select::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  right: 20px;
  top: 50%;
  margin-top: -2px;
  background-image: url(/images/dropdown.svg);
  pointer-events: none;
}

fieldset .row input {
  flex: 1;
  border-style: none;
  font-size: 15px;
  outline: none;
  color: #313B3F;
}

fieldset .row select {
  flex: 1;
  padding-right: 25px;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
  font-size: 15px;
  outline: none;
  color: #313B3F;
  cursor: pointer;
  background: transparent;
  }

  fieldset .row select:focus {
    color: #00B67C;
  }

fieldset .row.date span {
  padding-right: 10px;
  color: #AAB7C5;
  font-weight: 500;
}

fieldset .row.date input {
  flex: 0;
  min-width: 35px;
}

fieldset .row.date input:last-child {
  flex: 1;
}

input[type="submit"],
button,
a.button {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 8px 20px;
  border-style: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px -1px rgba(50,50,93,0.25), 0 1px 3px -1px rgba(0,0,0,0.30);
  font-size: 14px;
  font-weight: 500;
  color: #51586D;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

input[type="submit"]:hover,
button:hover,
a.button:hover {
  color: #2a2f45;
  text-decoration: none;
  outline: 0;
}

input[type="submit"]:active,
button:active,
a.button:active {
  outline: 0;
}

.button.primary,
button.primary,
input[type="submit"].primary {
  font-family: 'Barlow';
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;  
  background: #27BB86;
  color: white;
  height: 44px;
  margin: 30px 0 0 0;
  padding: 0 22px;
  line-height: 44px;
} 

.button.primary:hover,
button.primary:hover,
input[type="submit"].primary:hover {
  color: white;
}

input[type="submit"].secondary {
  color: #313B3F;
  background: #FFF;
}

input[type="submit"].secondary:active {
  background: #F5F6F7;
}

button:hover,
a.button:hover {
  text-decoration: none;
}

header button,
header a.button,
header input[type="submit"] {
  margin: 15px 0 0;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

form a.button {
  text-align: center;
}

/* Stripe information */
.stripe-information {
  margin-bottom: 35px;
  border: 2px solid #e6ebf1;
  border-radius: 5px;
  padding: 20px;
  padding-right: 135px;
  background: url(/images/stripe-grey.svg) right 25px center no-repeat;
  background-size: 80px auto;
}

.stripe-information p {
  color: #525f7f;
  font-size: 14px;
  text-align: left;
  margin: 0;
}

/* Illustration */

.illustration,
.illustration .rocket {
  width: 170px;
  height: 170px;
}

.illustration {
  background: #FFF;
  border-radius: 85px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.illustration .rocket {
  background: url(/images/rocketrides-illustration.svg) center center no-repeat;
  background-size: 120px 120px;
  transform: rotate(5deg);
}

.illustration.not-found {
  margin: 50px auto;
}

.illustration.not-found .rocket {
  transform: rotate(120deg);
}

/* Home */

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px; 
  padding: 60px 0 80px;
}

.intro .pilots {
  flex-direction: column;
}

.intro h1 {
  font-family: 'Barlow';
  font-size: 42px;
  line-height: 45px;
  letter-spacing: .01em;
}

.intro h2 {
  color: #cfd7df;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.features {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.features section {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 90px 0 0;
  margin: 25px 40px 0 0;
  background-position: 0 20px;
  background-repeat: no-repeat;
}

.features section.schedule {
  background-image: url(/images/feature-schedule.svg);
}

.features section.earnings {
  background-image: url(/images/feature-earnings.svg);
}

.features section.app {
  background-image: url(/images/feature-app.svg);
}

.features section:last-child {
  margin-right: 0;
}

.features h3 {
  font-family: "Barlow";
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: #32315E;
  letter-spacing: .01em;
}

.features p {
  font-size: 16px;
  line-height: 24px;
  color: #525f7f;
}

/* User Information */

.user {
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 40px 0;
}

.user .block {
  position: relative;
  color: #292F45;
}

.user .block + .block {
  margin-left: 40px;
}

.user .block h1 {
  font-size: 24px;
  font-weight: 400;
}

.user .block h2 {
  color: #8898AA;
  font-size: 13px;
  font-weight: 500;
  margin-top: 8px;
}

.user .block p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 7px;
  color: #292F45;
}

.user .block a {
  color: #219F72;
}

.user .block.profile {
  flex: 1;
  padding-left: 65px;
}

.user .block.profile .photo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 36%;
  left: 0;
  margin-top: -25px;
  border-radius: 50%;
  background-image: url(/images/avatar-large.svg);
  box-shadow: 0 2px 5px -1px rgba(50,50,93,0.25), 0 1px 3px -1px rgba(0,0,0,0.30);
}

.user .block.stripe input[type=submit] {
  font-size: 16px;
  font-weight: 500;
  background: #27BB86;
  color: white;
  height: 43px;
  margin: 30px 0 0 0;
  padding: 0 22px;
  line-height: 44px;
  margin: 2px 0 14px;
  min-width: 150px;
  text-align: center;
}

.user .block.stripe p {
  text-align: center;
}

/* Pilot Onboarding Options */

.pilot-options {
  margin: 0 0 35px;
}

.form label.pilot-option {
  width: auto;
  padding: 0;
  cursor: pointer;
  text-align: left;
  margin: 17px 0;
}

.pilot-option input {
  display: none;
  height: 0;
  width: 0;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}

.pilot-option input + span {
  display: flex;
  position: relative;
  align-items: center;
  color: #8798AB;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

.pilot-option input + span:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  left: -10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.pilot-option input:checked + span:after {
  content: "";
  display: flex;
  position: absolute;
  top: 5px;
  right: calc(100% - 15px);
  width: 10px;
  height: 10px;
  background: #27BB86;
  border-radius: 10px;
}

.row.pilot-info.hidden {
  display: none;
}

/* Ride History */
.rides {
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.55s;
}

.rides h4 {
  margin-bottom: 14px;
  color: #292F45;
  font-weight: 500;
}

.rides .no-rides {
  width: 100%;
  min-height: 250px;
  background: #edf3f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rides .no-rides .rocket {
  width: 52px;
  height: 52px;
  background-image: url(/images/rocket.svg);
}
.rides .no-rides h1 {
  color: #525F7F;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rides .no-rides h2 {
  color: #8898AA;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.rides .list {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.rides .list .row {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.rides .list .row + .row {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.rides .list .cell {
  flex: 1;
  position: relative;
  padding: 15px 20px;
  color: #82909B;
  font-size: 15px;
}

.rides .list .cell.name {
  flex: 2;
  padding-left: 60px;
  color: #313B3F;
  font-weight: 500;
}

.rides .list .cell.name::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 50%;
  margin-top: -12px;
  border-radius: 50%;
  background-color: rgba(0, 144, 250, 0.25);
  background-image: url(/images/avatar-small.svg);
}

.rides .list .cell.date {
  flex: 1.5;
}

.rides .list .cell.price {
  flex: 1;
  font-weight: 500;
  text-align: right;
}

/* Media Queries */

@media screen and (max-width: 500px) {
  #top {
    font-size: 15px;
    padding: 0 15px;
  }

  #top .links a {
    margin-left: 10px;
  }

  h1 {
    font-size: 28px;
  }

  .intro {
    padding: 15px;
    background: none;
  }

  .intro .illustration {
    display: none;
  }

  .intro h1 {
    font-size: 34px;
  }

  .intro h2 {
    font-size: 20px;
  }

  .title {
    margin: 25px 15px;
  }

  .user {
    padding: 15px 15px 0 15px;
    flex-flow: row wrap;
  }

  .user .block.profile {
    padding: 0;
  }

  .user .block .photo {
    display: none;
  }

  .user .block {
    flex: 1;
    min-width: 150px;
    margin: 0 0 20px;
  }

  .user .block h1 {
    font-size: 26px;
  }

  .user .block h2 {
    font-size: 15px;
  }

  .user .block p {
    font-size: 15px;
  }

  .user .block.stripe a.button,
  .user .block.stripe input[type="submit"] {
    height: 32px;
    line-height: 32px;
    font-size: 15px;
  }

  .user .block.stripe a.button {
    margin: 0 0 10px;
  }

  .user .block.stripe input[type="submit"] {
    margin: 0px 0 15px;
  }

  .user .block + .block {
    margin: 0;
  }

  nav ol {
    position: relative;
  }

  nav ol li:not(.active) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
  }

  nav ol li.done:last-child {
    position: inherit;
    opacity: 1;
  }

  footer {
    padding: 10px;
  }

  #content {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
  }

  .features {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .features h3 {
    font-size: 17px;
  }

  .features section {
    margin: 0 0 15px;
    background-position: 0 0;
    padding-top: 30px;
  }

  .features section.schedule {
    background-size: 23px 21px;
  }

  .features section.earnings {
    background-size: 27px 20px;
  }

  .features section.app {
    background-size: 15px 24px;
  }

  form {
    margin-top: 0;
  }

  fieldset .row {
    padding: 12px 5px 13px;
  }

  .form {
    width: 100%;
    margin: 15px 0;
  }

  .form label {
    padding: 0;
  }

  .form .checkmark {
    width: 66px;
    height: 66px;
    background-size: 44px 30px;
  }

  .options span {
    display: none;
  }

  .rides {
    margin: 0 0 15px;
  }

  .account {
    min-height: 250px;
  }

  .annotation {
    flex-flow: row wrap;
    margin: 10px auto;
  }

  .annotation p {
    order: 1;
    margin-top: 5px;
  }

  .annotation.info {
    display: none;
  }
}


/* CSS Animations */

@keyframes slide-in-horizontal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: none;
  }
}

@keyframes slide-in-vertical {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}