extends layout

block content
  h1.title Page not found
  .illustration.not-found
    .rocket

block footer
  .annotation.info
    p If you're seeing this error after completing the Stripe Express flow, you may need to properly configure your #[a(href='https://stripe.com/connect/express') OAuth redirect settings].
