doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@stripe')
    meta(name='twitter:title', content='Rocket Rides')
    meta(name='twitter:description', content='Rocket Rides is an on-demand platform built on top of Stripe Connect.')
    meta(name='twitter:image', content='https://rocketrides.io/images/rocketrides.png')
    title Rocket Rides
    link(rel='stylesheet', type='text/css', href='/stylesheets/rocketrides.css')
    link(rel='icon', type='image/png', sizes='64x64', href='/images/favicon.png')

  body
    header
      #top
        a.rocketrides(href='/') Rocket Rides
        if pilot
          .links
            if pilot.stripeAccountId
              a(href='/pilots/dashboard') Dashboard
            a(href='/pilots/logout') Logout
        else
          a.arrow(href='/pilots/login') Login
      block header

    #content
      block content

    footer
      block footer

    script(src='/javascripts/onboarding.js')
