extends layout

block content
  h1.title.short-form Log in to your account
  section.form.login
    form(method='POST', autocomplete='off')
      fieldset
        .row(label='Email')
          input(type='email', name='email', placeholder='john@example.com', required, autofocus)
        .row(label='Password')
          input(type='password', name='password', placeholder='••••••••', required)
      input(class='primary', type='submit', value='Log in')
